<div class="filters" style="margin-bottom: 16px; display: flex; gap: 1rem; align-items: center;">
  <mat-form-field appearance="outline">
    <mat-label>Filter by year</mat-label>
    <input matInput type="number" [(ngModel)]="filterYear" (ngModelChange)="onFilterChange()" placeholder="Filter by year" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Winner?</mat-label>
    <mat-select [(ngModel)]="filterWinner" (selectionChange)="onFilterChange()">
      <mat-option value="">All</mat-option>
      <mat-option value="true">Yes</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<table mat-table [dataSource]="movies" class="mat-elevation-z8" style="width: 100%;">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let movie">{{ movie.id }}</td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td mat-cell *matCellDef="let movie">{{ movie.year }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let movie">{{ movie.title }}</td>
  </ng-container>

  <ng-container matColumnDef="winner">
    <th mat-header-cell *matHeaderCellDef>Winner?</th>
    <td mat-cell *matCellDef="let movie">{{ movie.winner ? 'Yes' : 'No' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"
               [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
               (page)="onPageChange($event)">
</mat-paginator>
